@model Garage2.Models.ParkedVehicle

@{
    ViewBag.Title = "Retrieve";
}

<h2>@ViewBag.Title</h2>

<h3>Do you want to retrieve this vehicle?</h3>
<hr />
<div>
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Type)</dt>
        <dd>@Html.DisplayFor(model => model.Type)</dd>

        <dt>@Html.DisplayNameFor(model => model.RegistrationNumber)</dt>
        <dd>@Html.DisplayFor(model => model.RegistrationNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.Color)</dt>
        <dd>@Html.DisplayFor(model => model.Color)</dd>

        <dt>@Html.DisplayNameFor(model => model.Brand)</dt>
        <dd>@Html.DisplayFor(model => model.Brand)</dd>

        <dt>@Html.DisplayNameFor(model => model.Model)</dt>
        <dd>@Html.DisplayFor(model => model.Model)</dd>

        <dt>@Html.DisplayNameFor(model => model.NumberOfWheels)</dt>
        <dd>@Html.DisplayFor(model => model.NumberOfWheels)</dd>

        <dt>@Html.DisplayNameFor(model => model.TimeParked)</dt>
        <dd>@Html.DisplayFor(model => model.TimeParked)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Retrieve" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
