@*@model Garage2.Models.ParkedVehicle*@
@model IEnumerable<Garage2.Models.ParkedVehicle>
@{
    ViewBag.Title = "Search the Garage";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    @ViewBag.Message
    <div class="form-horizontal">
        <h4>Search the Garage</h4>
        <hr />
        <form method="get">
            <div class="col-md-offset-0">
                <table class="table">
                    <tr>
                        <th>
                            RegistrationNumber<br />
                            @Html.TextBox("RegistrationNumber")
                        </th>
                        <th>
                            Color<br />
                            @Html.TextBox("Color")
                        </th>
                        <th>
                            Brand<br />
                            @Html.TextBox("Brand")
                        </th>
                        <th>
                            Model<br />
                            @Html.TextBox("Model")
                        </th>
                    </tr>
                </table>
            </div>
        </form>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table" "col-md-12">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeParked)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Type)
            </td>
            <td>
                @Html.DisplayFor(model => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.Color)
            </td>
            <td>
                @Html.DisplayFor(model => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(model => item.Model)
            </td>
            <td>
                @Html.DisplayFor(model => item.NumberOfWheels)
            </td>
            <td>
                @Html.DisplayFor(model => item.TimeParked)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
