@model Garage2.Content.Stats

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarsParked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarsParked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BikesParked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikesParked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanesParked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanesParked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoatsParked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoatsParked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrucksParked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrucksParked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNumberOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost) SEK
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
